.containerdashboard {
   width: 100%;
   height: auto;
   margin: auto;

   padding-left: 2rem;
   padding-right: 2rem;
}

.perfil {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 42px;
   margin-top: 112px;
   margin-bottom: 56px;
}
.containerp {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.fotoperfil {
   border-radius: 300px;
   display: flex;
   width: 122px;
   height: 122px;
   justify-content: center;
   align-items: center;
}
.informacoes {
   display: flex;
   padding: var(--none, 0px);
   flex-direction: column;
   align-items: flex-start;
   gap: var(--3, 24px);
}

.nome {
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: 24px;
   color: var(--neutral-120);
}
.pais {
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 16px;
   letter-spacing: 0.15px;
   color: var(--neutral-100);
}

.buttondashboard {
   transition: all 0.3s ease-in;
   display: flex;
   padding: 8px 22px;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: var(--disable);
   cursor: pointer;
   background-color: #dddddd;
   border: #dddddd;
   border-radius: 4px;
}

.projetos {
   color: var(--neutral-120);
   font-size: 20px;
   font-style: normal;
   font-weight: 500;
   line-height: 20px;
   letter-spacing: 0.15px;
   opacity: 0.6;
}

.pesquisa {
   width: 513px;
   line-height: 24px;
   height: 56px;
   padding: 10px;
   margin-top: 15px;
   border: 2px solid rgba(0, 0, 0, 0.23);
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   letter-spacing: 0.15px;
   border-radius: 4px;
}
.pesquisa:hover {
   border-color: var(--neutral-110);
}

.pesquisa:focus {
   border-color: var(--info-100);
   outline: none;
}

.iconedashboard {
   width: 46px;
   height: 46px;
   cursor: pointer;
   transition: all 0.3s ease-in;
}
.iconedashboard:hover {
   transform: scale(1.1);
}
.picture__image {
   opacity: 0.6;
   color: var(--neutral-120);
   font-size: 16px;
   text-align: start;
}
.picture__image2 {
   opacity: 0.6;
   color: var(--neutral-120);
   font-size: 15px;
   text-align: start;
}

.adicionar {
   width: 389px;
   height: 258px;
   background: var(--neutral-70);
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   cursor: pointer;
   gap: 10px;
   border-radius: var(--borderRadius, 4px);

   margin-top: 15px;
}
.buttondashboardd {
   border: 0;
   background: none;
}
/* .complemento {
   width: 389px;
   height: 258px;
   border-radius: var(--borderRadius, 4px);
   background: rgba(230, 233, 242, 0.2);
   cursor: pointer;
}
 */

@media screen and (max-width: 452px) {
   .perfil {
      flex-direction: column;
      gap: 20px;
      height: 39%;
      margin-top: 40px;
      margin-bottom: 40px;
   }
   .informacoes {
      gap: var(--1, 8px);
   }
   .buttondashboard {
      border-radius: 4px;
      padding: 10px 22px;
      background: rgba(0, 0, 0, 0.12);
      color: rgba(0, 0, 0, 0.38);
   }
   .pesquisa {
      width: 312px;
      line-height: 23px;
   }
   .adicionar {
      width: 312px;
      height: 258px;
   }
   .picture__image2 {
      margin-left: 12px;
   }
}
