.label {
   height: 28px;
   flex-grow: 1;
   padding: 7px 9px 5px 9px;
   text-align: center;
   background-color: var(--neutral-70);
   border-radius: 40px;
   color: var(--neutral-120);
   font-weight: 400;
   font-size: 13px;
   transition: all 0.3s ease-in;
}

.label:hover {
   font-weight: 700;
}

@media screen and (max-width: 420px) {
   .label {
      font-size: 11px;
      height: 24px;
   }
}
