.input {
   height: 3.9rem;
   border: 0;
   border-radius: 4px;
   background-color: transparent;
   color: var(--neutral-100);
   padding: 0.5rem 0.5rem;
   border: 2px solid #ccc;
   overflow: hidden;
   font-size: 16px;
   font-weight: 400;
}

input textarea {
   width: 100%;
   min-height: 139px;
   resize: none;
   padding: 0.5rem 0.5rem;
}
@media screen and (max-width: 450px) {
   .input {
      font-size: 14px;
   }
}
