.container {
   width: 100%;
   height: 100vh;
   margin: auto;
   padding-left: 2px;
   padding-right: 10px;

   display: flex;
   flex-direction: row;
   align-items: center;
}
.div_img img {
   height: 100vh;
   width: 100%;
}

.content {
   width: 100%;
   max-width: 517px;
   height: 432px;
   align-items: center;
   display: flex;
   flex-direction: column;
   gap: 2rem;
   margin: auto;
}
.content h3 {
   color: var(--primary-90);
   font-weight: 500;
   font-size: 42px;
}

.content h4 {
   color: var(--neutral-110);
   font-size: 24px;
   font-weight: 400;
   margin-bottom: 1.4rem;
}

.form {
   width: 100%;
}

.form p {
   text-align: left;
   letter-spacing: 0.15px; 
   text-decoration: none;
   font-weight: 400;
   color: var(--neutral-100);
   margin-top: 18px;
}
.form a {
   text-decoration: none;
}

.inputPassword svg {
   border: none;
   background-color: transparent;
   position: fixed;
   font-size: 18px;
   position: relative;
   top: -58px;
   float: right;
   margin-right: 14px;
   cursor: pointer;
   margin-bottom: -15px;
}

@media screen and (max-width: 1112px) {
   .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
   .div_img img {
      width: 85%;
   }
}
@media screen and (max-width: 800px) {
   .container {
      justify-content: center;
   }
   .container h3 {
      text-align: center;
      font-size: 35px;
   }
   .content h4 {
      font-size: 24px;
   }

   .div_img img {
      display: none;
   }
}
@media screen and (max-width: 452px) {
   .container {
      justify-content: center;
      padding: 2;
   }
   .container h3 {
      text-align: center;
      font-size: 28px;
   }
   .content {
      width: 350px;
   }
   .content h4 {
      font-size: 18px;
   }

   .div_img img {
      display: none;
   }
}
