.container {
   position: relative;
   display: flex;
   flex-direction: column;
   height: 5rem;
   width: 100%;
}
.container input {
   background-color: transparent;
   border-radius: 4px;
   height: 3.4rem;
   border: 2px solid #ccc;
   color: var(--neutral-120);
   font-size: 1rem;
   width: 100%;
   padding: 0.5rem;
}

label {
   color: var(--neutral-110);
   position: absolute;
   margin-left: 0.5rem;
   top: -0.5rem;
   height: 20px;
   padding: 0.1rem 0.2rem;
   font-size: 13px;
   font-weight: 500;
   background-color: white;
}
