.div_container {
   height: 50vh;
   display: flex;
   align-items: center;
   justify-content: center;
}

.spinner {
   height: 28px;
   animation: spin 1s linear infinite;
}

@keyframes spin {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}
