@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: "Roboto", sans-serif;
}

:root {
   --primary-70: #edeff2;
   --primary-80: #444466;
   --primary-90: #222244;
   --primary-100: #111133;

   --secondary-60: #ffeecc;
   --secondary-70: #ffcc99;
   --secondary-80: #ffaa66;
   --secondary-90: #ff8833;
   --secondary-100: #ff5522;
   --secondary-110: #cc4400;
   --secondary-120: #993300;
   --secondary-130: #662200;

   --neutral-60: #fcfdff;
   --neutral-70: #e6e9f2;
   --neutral-80: #c2c4cc;
   --neutral-90: #a1a3aa;
   --neutral-100: #818388;
   --neutral-110: #515255;
   --neutral-120: #303133;
   --neutral-130: #0b0c0d;

   --sucess-60: #eeffbb;
   --sucess-70: #bbee88;
   --sucess-80: #88cc66;
   --sucess-90: #55bb44;
   --sucess-110: #118822;
   --sucess-120: #006622;
   --sucess-130: #004422;

   --alert-60: #ffffcc;
   --alert-70: #ffee99;
   --alert-80: #ffee66;
   --alert-90: #ffdd33;
   --alert-100: #ffcc00;
   --alert-110: #cc9900;
   --alert-120: #997700;
   --alert-130: #664400;

   --error-60: #ffddcc;
   --error-70: #ffaa99;
   --error-80: #ff7766;
   --error-90: #ff4433;
   --error-100: #dd0000;
   --error-110: #bb0000;
   --error-120: #880000;
   --error-130: #660000;

   --info-60: #adcbfa;
   --info-70: #82a9f0;
   --info-80: #608ae1;
   --info-90: #315fce;
   --info-100: #2348b1;
   --info-110: #183594;
   --info-120: #0f2477;
   --info-130: #091862;

   --white: #ffff;
}

body {
   background-color: var(--white);
}

h1 {
   font-size: 96px;
   font-weight: 300;
}
h2 {
   font-size: 60px;
   font-weight: 300;
}
h3 {
   font-size: 48px;
   font-weight: 400;
}
h4 {
   font-size: 34px;
   font-weight: 400;
}
